<form name="Criar Sala" action="salas" method="post">
  <fieldset>
    <legend>Criar nova sala de Munchkin</legend>
    <div>
      Nome da Sala: <input type="text" name="salas" placeholder="SE VIRA!!!" />
    </div> 

    <div class="button">
      <button type="submit">Tocando o Caos!!!</button>
    </div>
  </fieldset>
</form>