<form name="Criar Sala" action="rooms" method="post">
<form enctype='application/json'>
  <fieldset>
    <legend>Criar nova sala de Munchkin</legend>
    <div>
      Nome da Sala: <input type="text" name="data[name]" autofocus placeholder="SE VIRA!!!" />
    </div> 

    <div class="button">
      <button type="submit">Tocando o Caos!!!</button>
    </div>
  </fieldset>
</form>
